body{
    background-color: white;
}
.not_connected{
    color:red;
}
.connected{
    color: lightgreen;
}
#bluetooth_status{
    padding:10px;
}
#connect_to_bluetooth{
    background-color:lightskyblue;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
    user-select: none;
}
#bluetooth_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
#test_connection_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:95vh;
}
#test_connection{
    background-color:royalblue;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
    user-select: none;
}
#test_connection_status{
    padding: 10px;
}
#left-right{
    display: flex;
    div{
        margin: 12.5px 30px 12.5px 30px;
    }
}
#forward{
    background-color: yellow;
}
#left{
    background-color: royalblue;
}
#right{
    background-color: red;
}
#back{
    background-color: lightgreen;
}
.dpad_control{
    display: flex;
    justify-content: center;
    border-radius: 100%;
    transition: background-color .1s;
}
#dpad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    width: 240px;
    svg{
        width: 50px;
        height: 50px;
    }
}
.clicked{
    background-color: grey!important;
}