body {
  background-color: lightgrey;
}
.not_connected {
  color: red;
}
.connected {
  color: lightgreen;
}
#bluetooth_status {
  padding: 10px;
}
#connect_to_bluetooth {
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}
#bluetooth_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
#test_connection_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
#test_connection {
  background-color: royalblue;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}
#test_connection_status {
  padding: 10px;
}
